/* .button-nav{
	display:flex;
	justify-content: space-between;
	padding: 10px 0;
    border-bottom: 1px solid;
    border-color: brown;
    background-color: chocolate;
} */

.main-nav{
	display:flex;
	justify-content: space-between;
	padding: 10px 0;
    /* border-bottom: 1px solid; */
    border-color: rgba(56, 55, 55, 0.575);
    background-color: white;
    height: 85px;
    width: 80%;
    align-items: center;
    position: relative;
    left: 10%;
}

.logo {
    padding: 10px 10px 15px 15px;
}

.login-signup {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
}



::-webkit-input-placeholder {
	color: #888;  
}


.button {
  float: left;
  border: transparent;
  background-color: transparent;
  transition-duration: 0.4s;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 65px;
  height: 30px;
  
}

.button:hover {
  background-color: rgba(27, 27, 27, 0.527); 
  color: white;
}

.nav-container {
    border-bottom: 1px solid;
}

.fa-shopping-cart {
    color: black;
  /* border: transparent;
  background-color: transparent;
  transition-duration: 0.4s;
    border-radius: 50%;
    width: 10px; */
    
}


.cart {
    width: 10px;
}

.nav-row {
    background-color: #232347;
    height: 30px;
}

.nav-list {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    height: 30px;
    color: white;
    display: block;
    flex-flow: row;
    font-family: sans-serif;
    position: absolute;
    justify-content: center;
    font-weight: 400;
    width: 95%;
}

.nav-item {
    display: inline-block;
    padding-right: 3%;
    position: relative;
    top: 7px;
}

/* .nav-item:hover {
    text-decoration: underline;
   text-decoration-color: yellow;
   text-decoration-thickness: 2px;
} */
