.review-container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: left;
    width: 83%;
    align-items: baseline;
    position: relative;
    left: 20%;

}

.review-textarea {
    resize: none;
}

.review-submit {
    margin-bottom: 27px;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    width: 411px;
    height: 37px;
    background: black;
    color: white;
    font-family: sans-serif;
    font-weight: 550;
    font-size: 16px;
    align-self: center;
    margin-top: 8px;
}

.submit-form {
    display: flex;
    flex-direction: column;
}

.reviews-box {
    /* border: solid 1px;
    width: 410px;
    border-radius: 7px;
    margin-top: 19px; */
}