.signup-form-box {
   border: 1px solid black;
   padding: 40px;
   background: white;
   position: relative;
   border-radius: 25px;
   margin: auto;
   width: 380px;
   display: inline-table;
   justify-content: center;

}
/* .login-form-box > .submit-box {
  padding: 50px;
} */

.signup-submit-box {
  outline-color: black;
  padding: 9px 12px;
  background-color: white;
  border-radius: 6px;
  display: block;
  font-size: 16px;
  font-family: inherit;
  width: 100%;
  border-color: black;
  border-width: 1px;
  position: relative;
  right: 10px;
  margin-bottom: 15px;

}


.signup-input-header {
  margin: 0px 0px 6px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.1px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* display: inherit; */
}

/* .input-body {
  position: relative;
  bottom: 30px;
} */

.signup-form-header {
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-size: 27px;
  font-weight: 600;
}

.signup-form-button {
  background-color: black;
  border: none;
  color: white;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 500px;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  margin: 4px 2px;
  border-top-left-radius: 300px;
  border-bottom-left-radius: 300px;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
  width: 395px;
  height: 50px;
  margin-top: -8px;
  /* border-top-width: 100px;  */
  position: relative;
  bottom: 30px;
  
}
/* 
.form-style {
  width: auto;
    display: block;
    margin-top: 10px;
    bottom: 100px;
} */

.signup-container {
  position: relative;
  bottom: 38px;
}

.errors-container {
  color: red;
  display: block;
  position: relative;
  left: 20px;
  top: -37px;
}